
box.box.brother-box
    h4.title.is-4.table-header Draftable Brothers
    table.table.is-striped
        thead
            tr
                th Scroll
                th Name
                th Points
                th Draft Order
                th
        tfoot
            tr
                th Scroll
                th Name
                th Points
                th Draft Order
                th
        tbody
            tr(ng-repeat="x in brothers")
                td &#35;{{x.initiation_number}}
                td {{x.name}}
                td {{x.points}}
                td Number
                td.edit
                    button.button(ng-click="openEditBrotherForm('draftable', $index)") Edit

box.box.brother-box
    h4.title.is-4.table-header Exempt Brothers
    table.table.is-striped
        thead
            tr
                th Scroll
                th Name
                th Points
                th Co-Op?
                th EC?
                th Graduating?
                th
        tfoot
            tr
                th Scroll
                th Name
                th Points
                th Co-Op?
                th EC?
                th Graduating?
                th
        tbody
            tr(ng-repeat="x in exempt_brothers")
                td &#35;{{x.initiation_number}}
                td {{x.name}}
                td {{x.points}}
                td(style="color:#f00") {{x.coop ? "Yes" : ""}}
                td(style="color:#f00") {{x.executive_council ? "Yes" : ""}}
                td(style="color:#f00") {{x.senior ? "Yes" : ""}}
                td.edit
                    button.button(ng-click="openEditBrotherForm('exempt', $index)") Edit
