box.box
    h5.title.is-5 Draft Form

    label.label Sober Monitors
    p.control
        input.input(type="text",ng-model="draft.sober")

    label.label Designated Driver
    p.control
        input.input(type="text",ng-model="draft.driver")

    label.label Doormen
    p.control
        input.input(type="text",ng-model="draft.door")

    label.label Extra
    p.control
        input.input(type="text",ng-model="draft.extra")

    div.columns
        div.column
            button.button.is-fullwidth(ng-click="runDraft()") Run Draft
        div.column
            button.button.is-fullwidth(ng-click="clearDraft()") Clear Form

    article.message.is-info(ng-hide="draftStatus")
        div.message-header
            | Draft Results
        div.message-body
            ul(ng-repeat="x in drafted")
                li {{x}}
