extends layout.pug

block title
    title Risk

block body
    body(ng-controller="brothers")
        nav.nav
            div.nav-center
                h3.nav-item.title.is-3 Risk Management

        div.wrapper
            div.columns
                div.column
                    box.box
                        h4.title.is-4 Brother Manager
                        button.button.is-primary(ng-click="showAddBrother = true") Add Brother
                div.column.is-two-thirds
                    box.box.brother-box
                        table.table.is-striped
                            thead
                                tr
                                    th Scroll
                                    th Name
                                    th Point Editor
                                    th Points
                                    th Co-Op?
                                    th Senior?
                                    th EC?
                                    th Exempt?
                            tfoot
                                tr
                                    th Scroll
                                    th Name
                                    th Point Editor
                                    th Points
                                    th Co-Op?
                                    th Senior?
                                    th EC?
                                    th Exempt?
                            tbody
                                tr(ng-repeat="x in brothers")
                                    td &#35;{{x.initiation_number}}
                                    td {{x.name}}
                                    td
                                        button.button.is-info.is-outlined(ng-click="addPoint($index)") +
                                        button.button.is-info.is-outlined(ng-click="subPoint($index)") -
                                    td {{x.points}}
                                    td
                                        input.check(type="checkbox",ng-checked="coop")
                                    td
                                        input.check(type="checkbox",ng-checked="x.senior")
                                    td
                                        input.check(type="checkbox",ng-checked="executive_council")
                                    td Nah

        div.modal(ng-class="{'is-active' : showAddBrother}")
            div.modal-background
            div.modal-card
                header.modal-card-head
                    p.modal-card-title Add Brother
                    button.delete(ng-click="showAddBrother = false")
                section.modal-card-body
                    p Test
                footer.modal-card-foot
                    a.button.is-primary Save
                    a.button(ng-click="showAddBrother = false") Cancel
