extends layout.pug

block title
    title Risk

block body
    body(ng-controller="brothers")
        nav.nav
            div.nav-center
                h3.nav-item.title.is-3 Risk Management

        div.wrapper
            div.columns
                div.column
                    box.box
                        h4.title.is-4 Brother Manager
                        button.button.is-primary(ng-click="showAddBrother = true") Add Brother
                div.column.is-two-thirds
                    box.box.brother-box
                        table.table.is-striped
                            thead
                                tr
                                    th Scroll
                                    th Name
                                    th Points
                                    th Exempt?
                                    th Chance
                                    th
                            tfoot
                                tr
                                    th Scroll
                                    th Name
                                    th Points
                                    th Exempt?
                                    th Chance
                                    th
                            tbody
                                tr(ng-repeat="x in brothers")
                                    td &#35;{{x.initiation_number}}
                                    td {{x.name}}
                                    td {{x.points}}
                                    td Nah
                                    td 0
                                    td.edit
                                        button.button.is-outlined.is-info Edit
        div.modal(ng-class="{'is-active' : showAddBrother}")
            div.modal-background
            div.modal-card
                header.modal-card-head
                    p.modal-card-title Add Brother
                    button.delete(ng-click="showAddBrother = false; clearAddForm()")
                section.modal-card-body
                    p You must refresh the page after submitting this form to see new brothers that were added to the database.
                    br
                    label.label
                        | Name
                        span(style="color:#f00") *
                    p.control
                        input.input(ng-model="add.name",type="text")

                    label.label
                        | Initiation Number
                        span(style="color:#f00") *
                    p.control
                        input.input(ng-model="add.initiation_number",type="text")

                    label.label Starting Points
                    p.control
                        input.input(ng-model="add.points",type="text")

                    p.control
                        label.checkbox
                            input.add(ng-model="add.executive_council",type="checkbox")
                            | EC?

                    p.control
                        label.checkbox
                            input.add(ng-model="add.coop",type="checkbox")
                            | Co-Op?

                    p.control
                        label.checkbox
                            input.add(ng-model="add.senior",type="checkbox")
                            | Graduating?

                    article.message.is-success(ng-hide="addSuccess")
                        div.message-header
                            | Success!
                        div.message-body
                            | {{add.name}} was added to the database!

                    article.message.is-warning(ng-hide="addFail")
                        div.message-header
                            | Oops!
                        div.message-body
                            | Something went wrong. Please check the form and try again.
                footer.modal-card-foot
                    a.button.is-primary(ng-click="addBrother()") Save
                    a.button(ng-click="clearAddForm()") Clear Form
                    a.button(ng-click="showAddBrother = false; clearAddForm()") Cancel
