extends layout.pug

block title
    title Risk

block body
    body(ng-controller="brothers")
        nav.nav
            div.nav-left
                a.nav-item.is-brand Risk

        div.wrapper
            div.columns
                div.column
                    box.box
                        p hi
                div.column.is-two-thirds
                    box.box
                        table.table.is-striped
                            thead
                                tr
                                    th Scroll
                                    th Name
                                    th Point Editor
                                    th Points
                                    th Co-Op?
                                    th Senior?
                                    th EC?
                                    th Exempt?
                            tfoot
                                tr
                                    th Scroll
                                    th Name
                                    th Point Editor
                                    th Points
                                    th Co-Op?
                                    th Senior?
                                    th EC?
                                    th Exempt?
                            tbody
                                tr(ng-repeat="x in brothers")
                                    td &#35;{{x.initiation_number}}
                                    td {{x.name}}
                                    td
                                        button.button.is-info.is-outlined(ng-click="addPoint($index)") Add Point
                                        button.button.is-info.is-outlined(ng-click="subPoint($index)") Subtract Point
                                    td {{x.points}}
                                    td
                                        input.check(type="checkbox",ng-checked="coop")
                                    td
                                        input.check(type="checkbox",ng-checked="x.senior")
                                    td
                                        input.check(type="checkbox",ng-checked="executive_council")
                                    td Nah
