doctype html

html(ng-app="risk")
    head
        block title
            title Risk Management Application

        link(type="text/css", rel="stylesheet", href="/node/bulma/css/bulma.css")
        link(type="text/css", rel="stylesheet", href="/dev/css/style.css")
        script(type="text/javascript", src="/node/angular/angular.min.js")
        script(type="text/javascript", src="/dev/js/functions.js")
        script(type="text/javascript", src="/dev/js/core.js")

    block body
        body
