extends layout.pug

block title
    title Manager | Risk

block body
    div.columns
        div.column
            box.box
                p test
        div.column
            box.box
                p test
        div.column
            box.box
                p test
