td button {
    margin: 0 5px 0 5px;
}

td {
    vertical-align: middle !important;
}

box.brother-box {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nav {
    border-bottom: 1px solid #d6d6d6;
}

.wrapper {
    padding: 15px;
}
